<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>event_management_sys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>OrgLoginServlet</servlet-name>
  <servlet-class>Controller.OrgLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>OrgLoginServlet</servlet-name>
  <url-pattern>/OrgLoginServlet</url-pattern>
</servlet-mapping>



  <servlet>
  <servlet-name>DropdownServlet</servlet-name>
  <servlet-class>Controller.DropdownServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DropdownServlet</servlet-name>
  <url-pattern>/DropdownServlet</url-pattern>
</servlet-mapping>


  <servlet>
  <servlet-name>OrgImageServlet</servlet-name>
  <servlet-class>Controller.OrgImageServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>OrgImageServlet</servlet-name>
  <url-pattern>/OrgImageServlet</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>OrgRegisterServlet</servlet-name>
  <servlet-class>Controller.OrgRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>OrgRegisterServlet</servlet-name>
  <url-pattern>/OrgRegisterServlet</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>AttendeeRegisterServlet</servlet-name>
  <servlet-class>Controller.AttendeeRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AttendeeRegisterServlet</servlet-name>
  <url-pattern>/AttendeeRegisterServlet</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>AttendeeImageServlet</servlet-name>
  <servlet-class>Controller.AttendeeImageServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AttendeeImageServlet</servlet-name>
  <url-pattern>/AttendeeImageServlet</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>AttendeeLoginServlet</servlet-name>
  <servlet-class>Controller.AttendeeLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AttendeeLoginServlet</servlet-name>
  <url-pattern>/AttendeeLoginServlet</url-pattern>
</servlet-mapping>


 <servlet>
  <servlet-name>EventServlet</servlet-name>
  <servlet-class>Controller.EventServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>EventServlet</servlet-name>
  <url-pattern>/EventServlet</url-pattern>
</servlet-mapping>


 <servlet>
  <servlet-name>AddAttendeeServlet</servlet-name>
  <servlet-class>Controller.AddAttendeeServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AddAttendeeServlet</servlet-name>
  <url-pattern>/AddAttendeeServlet</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>ViewAttendeeEventServlet</servlet-name>
  <servlet-class>Controller.ViewAttendeeEventServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ViewAttendeeEventServlet</servlet-name>
  <url-pattern>/ViewAttendeeEventServlet</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>AddFeedbackServlet</servlet-name>
  <servlet-class>Controller.AddFeedbackServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AddFeedbackServlet</servlet-name>
  <url-pattern>/AddFeedbackServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>FilterEventServlet</servlet-name>
    <servlet-class>Controller.FilterEventServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>FilterEventServlet</servlet-name>
    <url-pattern>/FilterEventServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ViewFeedbackServlet</servlet-name>
    <servlet-class>Controller.ViewFeedbackServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ViewFeedbackServlet</servlet-name>
    <url-pattern>/ViewFeedbackServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>EditFeedbackServlet</servlet-name>
    <servlet-class>Controller.EditFeedbackServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>EditFeedbackServlet</servlet-name>
    <url-pattern>/EditFeedbackServlet</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>FilterFeedbackServlet</servlet-name>
    <servlet-class>Controller.FilterFeedbackServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>FilterFeedbackServlet</servlet-name>
    <url-pattern>/FilterFeedbackServlet</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>ViewOrganizerFeedbackServlet</servlet-name>
    <servlet-class>Controller.ViewOrganizerFeedbackServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ViewOrganizerFeedbackServlet</servlet-name>
    <url-pattern>/ViewOrganizerFeedbackServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <servlet-class>Controller.DeleteFeedbackServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <url-pattern>/DeleteFeedbackServlet</url-pattern>
</servlet-mapping>



</web-app>